* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}


/* section nav start */

#main-nav {
    position: fixed;
    border: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#main-nav a {
    color: white;
    font-weight: 700;
    transition: 0.3s all;
}

#main-nav span.icon-bar {
    background-color: white;
}

#main-nav a:hover {
    color: #1ac056;
}

#main-nav .navbar-toggle:hover{
    background-color: #1ac056;
}


/* section nav stop */


/* section header start */

.container-main {
    height: 100vh;
    position: relative;
    background-position: center;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/computer-code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header .header-content {
    color: white;
    position: absolute;
    font-size: 28px;
    font-weight: 900;
    left: 0;
    right: 0;
    margin: 0 auto;
}

header .text-top {
    top: 20%;
}

header .text-bottom {
    bottom: 20%;
}

header h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

header .content {
    position: absolute;
    background-image: url(../img/empty-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 4px solid white;
    border-radius: 50%;
}


/* section header stop */


/* section about start */

section#about {
    height: 100vh;
    background-color: blue;
    
}

#about .container-about{
    position: relative;
}

/* section about stop */

/* section skills start */

section#skills {
    height: 100vh;
    
}
#skills .container-skills{
    position: relative;
}

/* section skills stop */

/* section portfolio start */

section#portfolio {
    height: 100vh;
    background-color: yellow;
}
#portfolio .container-portfolio{
    position: relative;
}

#portfolio .container-chart{
    width:500px;
}

/* section portfolio stop */

